<% if @entry.errors.any? %>
  <ul>
    <% @entry.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<h2>Edit entry for <%=link_to(@project.full_name,project_path(@project))%></h1>

<%= form_for [@project, @entry] do |f| %>
  <%= f.label :hours %>
  <%= f.text_field :hours, size: 4 %>
  <br>
  <%= f.label :minutes %>
  <%= f.text_field :minutes, size: 4 %>
  <br>
  <%= f.label :date %>
  <%= f.text_field :date, size: 8 %>
  <br>
  <%= f.label :comments %>
  <%= f.text_field :comments, size: 48 %>
  <br>

  <%= f.submit 'Save' %>
  <%= link_to("Cancel",project_entries_path) %>
<% end %>