<h1>A single entry</h1>
<h2><%="Project: #{@project.full_name}"%></h2>
<%= @entry.display_text %>
<%= link_to("[edit]",edit_project_entry_path(@project,@entry), method: :get) %>
<%= link_to("[delete]",project_entry_path(@project,@entry), method: :delete, data: { confirm: 'Are you sure?' }) %>
<h4>
  <div class="button_actions"><%= link_to("This project entries",project_entries_path(@project)) %></div>
  <div class="button_actions all_items"><%= link_to("All projects",projects_path) %></div>
</h4>
