<h1>Last 10 projects</h1>
<ul>
<% @projects.each do |p| %>
<!-- <li><%= "Name: #{p.name}"%><%= (p.description) ? ". Desc: #{p.description}" : "" %></li> -->
<!-- <li><%= "Name: #{p.name}"%><%= (p.description.present?) ? ". Desc: #{p.description}" : "" %></li> -->
<li><%=p.full_name%></li>
<%end%>
</ul>
